body {
  background-color: #009aff !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009aff !important;
  min-height: 90vh;
}

.question-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.quiz-card {
  width: 30rem;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
  color: white !important;
}

.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
